<ion-view title="About" id="page19">
  <ion-content padding="true" class="has-header">
    <h1 id="about2-heading16" style="color:#000000;text-align:center;">About Us</h1>
    <div id="about2-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">We are a dedicated group of engineers striving to make your daily routine easier. Based in Chicago, IL, we work hard every day to ensure that you don't have to.</p>
    </div>
    <ion-list id="about2-list13">
      <ion-item id="about2-list-item30">Version
        <span class="item-note">v1.0</span>
      </ion-item>
      <ion-item id="about2-list-item31" ui-sref="mainMenu.contactUs">Contact Us</ion-item>
      <ion-item id="about2-list-item32">Privacy Policy</ion-item>
      <ion-item id="about2-list-item33">Terms of Service</ion-item>
    </ion-list>
  </ion-content>
</ion-view>