<ion-view title="Change Password" id="page17">
  <ion-content padding="true" class="has-header">
    <form id="changePassword-form15" class="list">
      <label class="item item-input" id="changePassword-input18">
        <span class="input-label">Current Password</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input" id="changePassword-input19">
        <span class="input-label">New Password</span>
        <input type="password" placeholder="">
      </label>
      <label class="item item-input" id="changePassword-input20">
        <span class="input-label">Confirm Password</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 73px;"></div>
    <a ui-sref="mainMenu.options" id="changePassword-button28" class="button button-positive button-large button-block">Change Password</a>
  </ion-content>
</ion-view>