<ion-view title="Current Reminders" id="page3">
<ion-content padding="true" class="has-header">
    <h1 id="currentAlarms-heading30" style="color:#000000;">What are you taking?</h1>
    <form id="currentAlarms-form30" class="list">
      <ion-toggle toggle-class="toggle-royal" id="currentAlarms-toggle40"ng-model="data.advil">Advil</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="currentAlarms-toggle41"ng-model="data.aleve">Aleve</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="currentAlarms-toggle42"ng-model="data.allegra">Allegra</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="currentAlarms-toggle43"ng-model="data.benedryl">Benedryl</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="currentAlarms-toggle44"ng-model="data.nyquil">NyQuil</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="currentAlarms-toggle45"ng-model="data.robitussin">Robitussin</ion-toggle>
      <ion-toggle toggle-class="toggle-royal" id="currentAlarms-toggle46"ng-model="data.tylenol">Tylenol</ion-toggle>
 
  </form>
   <a id="currentAlarms-button50" class="button button-royal button-large button-block"ng-click="setAlarm()">Set Alarm!</a>
   
  </ion-content>

</ion-view>