<ion-view title="Dosage Calculator" id="page23">
  <ion-content padding="true" class="has-header">
    <h1 id="dosageCalculator2-heading20" style="color:#000000;text-align:center;">Your recommended dosage is</h1>
    <div id="dosageCalculator2-markdown19" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">Value from API or JS</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="mainMenu.dosageCalculator" id="dosageCalculator2-button32" class="button button-positive button-large button-block">Enter Another</a>
  </ion-content>
</ion-view>