<ion-view title="Edit Profile" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="editProfile-form7" class="list">
      <ion-list id="editProfile-list8">
        <label class="item item-input" id="editProfile-input10">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Enter Name">
        </label>
        <label class="item item-input" id="editProfile-input11">
          <span class="input-label">Age</span>
          <input type="text" placeholder="Enter Age">
        </label>
        <label class="item item-select" id="editProfile-select1" name="Gender">
          <span class="input-label">Gender</span>
          <select>
            <option>Select Gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </label>
      </ion-list>
      <label class="item item-input" id="editProfile-input14">
        <span class="input-label">Height</span>
        <input type="text" placeholder="Enter Height">
      </label>
      <label class="item item-input" id="editProfile-input15">
        <span class="input-label">Weight</span>
        <input type="text" placeholder="Enter Weight">
      </label>
      <a ui-sref="mainMenu.profile" id="editProfile-button11" class="button button-balanced button-large button-block">Done</a>
    </form>
  </ion-content>
</ion-view>