<ion-view title="Forgot Username?" id="page12">
  <ion-content padding="true" class="has-header">
    <h3 id="forgotUsername-heading11" style="color:#000000;">Please enter the email address used to register.</h3>
    <div class="spacer" style="width: 300px; height: 55px;"></div>
    <form id="forgotUsername-form8" class="list">
      <label class="item item-input" id="forgotUsername-input16">
        <span class="input-label">Email Address</span>
        <input type="email" placeholder="Enter email address">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 65px;"></div>
    <a ui-sref="usernameConfirmation" id="forgotUsername-button21" class="button button-balanced button-large button-block">Confirm</a>
  </ion-content>
</ion-view>