<ion-view title="Forgot Password?" id="page14">
  <ion-content padding="true" class="has-header">
    <h3 id="forgotPassword-heading13" style="color:#000000;">Please enter your username.</h3>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form id="forgotPassword-form9" class="list">
      <label class="item item-input" id="forgotPassword-input17">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Enter Username">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <a ui-sref="mainMenu.passwordConfirmation" id="forgotPassword-button23" class="button button-positive button-large button-block">Confirm</a>
  </ion-content>
</ion-view>