<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Main Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="mainMenu-list1">
        <ion-item class="royal" id="mainMenu-list-item1" ui-sref="home" menu-close="">Home</ion-item>
        <ion-item class="royal" id="mainMenu-list-item7" ui-sref="mainMenu.profile" menu-close="">Profile</ion-item>
        <ion-item class="royal" id="mainMenu-list-item2" ui-sref="mainMenu.currentAlarms" menu-close="">Current Alarms</ion-item>
        <ion-item class="royal" id="mainMenu-list-item26" ui-sref="mainMenu.dosageCalculator" menu-close="">Dosage Calculator</ion-item>
        <ion-item class="royal" id="mainMenu-list-item3" ui-sref="mainMenu.recommendations" menu-close="">Recommendations</ion-item>
        <ion-item class="royal" id="mainMenu-list-item12" ui-sref="mainMenu.options" menu-close="">Options</ion-item>
        <ion-item class="royal" id="mainMenu-list-item13" ui-sref="mainMenu.about2" menu-close="">About</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>