<ion-view title="Options" id="page16">
  <ion-content padding="true" class="has-header">
    <ion-list id="options-list9">
      <ion-item id="options-list-item19" ui-sref="mainMenu.changePassword">Reset Password</ion-item>
      <ion-item id="options-list-item27" ui-sref="mainMenu.notifications">Notifications</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 47px;"></div>
    <a ui-sref="mainMenu.login" id="options-button25" class="button button-assertive button-large button-block">Sign Out</a>
  </ion-content>
</ion-view>