<ion-view title="Password Confirmation" id="page15">
  <ion-content padding="true" class="has-header">
    <h1 id="passwordConfirmation-heading14" style="color:#000000;text-align:center;">Thank You!</h1>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div id="passwordConfirmation-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">An email has been sent to reset your password.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 69px;"></div>
    <a ui-sref="mainMenu.login" id="passwordConfirmation-button24" class="button button-positive button-large button-block">Return to Login</a>
  </ion-content>
</ion-view>