<ion-view title="Profile" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list7">
      <ion-item class="item-avatar" id="profile-list-item11">
        <h2>Name</h2>
      </ion-item>
    </ion-list>
    <h2 id="profile-heading8" style="color:#000000;">Age</h2>
    <div id="profile-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h2 id="profile-heading9" style="color:#000000;">Body Type</h2>
    <div id="profile-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <h2 id="profile-heading10" style="color:#000000;">Gender </h2>
    <div id="profile-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <a ui-sref="mainMenu.editProfile" id="profile-button10" class="button button-positive button-small button-block">Edit Profile</a>
  </ion-content>
</ion-view>