<ion-view title="Recommendations" hide-back-button="true" id="page24">
  <ion-content padding="true" class="has-header" ng-controller="recommendationsCtrl">
    <h1 id="recommendations2-heading21" style="color:#000000;text-align:center;">Your Recommendation Is</h1>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <h3 id="recommendations2-heading21" style="color:#000000;text-align:center;">{{medication}}</h3>
    <div id="recommendations2-markdown20" style="text-align:center;" class="show-list-numbers-and-dots">
    </div>
    <div class="spacer" style="width: 300px; height: 51px;"></div>
    <a ui-sref="mainMenu.recommendations" id="recommendations2-button34" class="button button-positive  button-block">Back</a>
  </ion-content>
</ion-view>