<ion-view title="Username Confirmation" id="page13">
  <ion-content padding="true" class="has-header">
    <h1 id="usernameConfirmation-heading12" style="color:#000000;text-align:center;">Thank you!</h1>
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <div id="usernameConfirmation-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">Your account information has been sent to your email address.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 59px;"></div>
    <a ui-sref="mainMenu.login" id="usernameConfirmation-button22" class="button button-positive button-large button-block">Back to Login</a>
  </ion-content>
</ion-view>